<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
      <% include ../static/partials/messages.ejs %>

      <h1>Wikis</h1>
      <% if(currentUser) { %>
      <a href ="/wikis/new" class="btn btn-success">New Wiki</a>
      <% } %>

        <% if(currentUser) { %>
        <% for(let i = 0; i < wikis.length; i++) { %>
            <% if(wikis[i].private === false || currentUser.isOwner(currentUser, wiki) || currentUser.isCollaborator(currentUser, wiki)) { %>
          
                <% if(i % 3 === 0) { %>

                </section>
                    <section class='row'>
                        <section class='col-md-4'>
                                <a href='wikis/<%= wikis[i].id %>'>
                                    <div class="list-wiki"style='background: url("data:image/jpeg;base64, <%= Buffer.from(wikis[i].images[0].data).toString('base64') %> ")'></div>
                                </a>
                            <p><%= wikis[i].title %></p>
                        </section>
                
                <% } else if (i === wikis.length - 1) { %>
                
                    </section>

                <% } else { %>
        
                    <section class='col-md-4'>
                            <a href='wikis/<%= wikis[i].id %>'>
                                <div class="list-wiki"style='background: url("data:image/jpeg;base64, <%= Buffer.from(wikis[i].images[0].data).toString('base64') %> ")'></div>
                            </a>
                    </section>
            
            <% } %>

        
          <% } %>
        <% } %>
      <% } else { %>
        <% for(let i = 0; i < wikis.length; i++) { %>
            <% if(wikis[i].private === false) { %>

                <% if(i % 3 === 0) { %>

                </section>
                    <section class='row'>
                        <section class='col-md-4'>
                            <a href='wikis/<%= wikis[i].id %>'>
                                <div class="list-wiki"style='background: url("data:image/jpeg;base64, <%= Buffer.from(wikis[i].images[0].data).toString('base64') %> ")'></div>
                            </a>
                            <div>
                                    <p><%= wikis[i].title %></p>
                                    <p class='text-truncate'><%= wikis[wikis.length - 1].body %></p>
                            </div>
                           
                        </section>
                
                <% } else if (i === wikis.length - 1) { %>
                
                    </section>

                <% } else { %>
        
                    <section class='col-md-4'>
                            <a href='wikis/<%= wikis[i].id %>'>
                                <div class="list-wiki"style='background: url("data:image/jpeg;base64, <%= Buffer.from(wikis[i].images[0].data).toString('base64') %> ")'></div>
                            </a>
                            <div>
                                    <p><%= wikis[i].title %></p>
                                    <p class='text-truncate'><%= wikis[wikis.length - 1].body %></p>
                            </div>
                       
                    </section>
            
            <% } %>
          <% } %>
        <% } %>
      <% } %>

    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
