<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <% include ../static/partials/messages.ejs %>
    <main class="container" style='padding-top: 100px'>
        <section class='row'>
                    <% if(currentUser) { %>
                        <h5>Private Wikis & Collaborations:</h5>
                        <% var array = [] %>
                        <% privateWikis.forEach((wiki) => { %>
                            <% if(currentUser.isAdmin() || (currentUser.isOwner(currentUser, wiki) && currentUser.isPremium(currentUser, wiki))) { %>
                              
                                <% array.push(wiki) %>
                           
                          <% } %>
                        <% }) %>
                        <% for(let i = 0; i < array.length; i++) { %>
                            <% if(i % 3 === 0) { %>
                            </section>
                            <section class='row'>
                                    <section class='col-md-4'>
                                        <a href='wikis/<%= array[i].id %>'>
                                            <div class="list-wiki"style='background: url("data:image/jpeg;base64, <%= Buffer.from(array[i].images[0].data).toString('base64') %> ")'>
                                                <div class='overlay'>
                                                    <div class='list-wiki-text'><h5><%= array[i].title %></h5></div>
                                                </div>
                                            </div>
                                        </a>       
                                    </section>
                            <% } else if(i === array.length - 1) { %>
                                </section>
                            <% } else { %>
                                        <section class='col-md-4'>
                                            <a href='wikis/<%= array[i].id %>'>
                                                <div class="list-wiki"style='background: url("data:image/jpeg;base64, <%= Buffer.from(array[i].images[0].data).toString('base64') %> ")'>
                                                    <div class='overlay'>
                                                        <div class='list-wiki-text'><h5><%= array[i].title %></h5></div>
                                                    </div>
                                                </div>
                                            </a>       
                                    </section>
                            <% } %>
                        <% } %>
                <% } %>
        </section>
        <hr>
        <section class='row'>
                <% for(let i = 0; i < publicWikis.length; i++) { %>
                    <% if(i % 3 === 0) { %>
                    </section>
                    <section class='row'>
                            <section class='col-md-4'>
                                <a href='wikis/<%= publicWikis[i].id %>'>
                                    <div class="list-wiki"style='background: url("data:image/jpeg;base64, <%= Buffer.from(publicWikis[i].images[0].data).toString('base64') %> ")'>
                                        <div class='overlay'>
                                            <div class='list-wiki-text'><h5><%= publicWikis[i].title %></h5></div>
                                        </div>
                                    </div>
                                </a>       
                            </section>
                    <% } else if(i === publicWikis.length - 1) { %>
                        </section>
                    <% } else { %>
                                <section class='col-md-4'>
                                    <a href='wikis/<%= publicWikis[i].id %>'>
                                        <div class="list-wiki"style='background: url("data:image/jpeg;base64, <%= Buffer.from(publicWikis[i].images[0].data).toString('base64') %> ")'>
                                            <div class='overlay'>
                                                <div class='list-wiki-text'><h5><%= publicWikis[i].title %></h5></div>
                                            </div>
                                        </div>
                                    </a>       
                            </section>
                    <% } %>
    
                <% } %>   
        </section>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
