<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head.ejs %>
  <body>
    <section class='container' style='padding-top: 40px'>
        <% if(wikis) { %>
            <% for(let i = 0; i < 6; i++) { %>
                <% if(i % 3 === 0) { %>

                </section>
                    <section class='row list-row'>
                        <section class='col-md-4'>
                            <a href='wikis/<%= wikis[i].id %>'>
                                <div class="list-wiki"style='background: url("data:image/jpeg;base64, <%= Buffer.from(wikis[i].images[0].data).toString('base64') %> ")'>
                                    <div class='overlay'>
                                        <div class='list-wiki-text'><h5><%= wikis[i].title %></h5></div>
                                    </div>
                                </div>
                            </a>       
                        </section>
                
                <% } else if (i === 6) { %>
                
                    </section>

                <% } else { %>
        
                    <section class='col-md-4'>
                            <a href='wikis/<%= wikis[i].id %>'>
                                <div class="list-wiki"style='background: url("data:image/jpeg;base64, <%= Buffer.from(wikis[i].images[0].data).toString('base64') %> ")'>
                                    <div class='overlay'>
                                            <div class='list-wiki-text'><h5><%= wikis[i].title %></h5></div>
                                    </div>
                                </div>
                            </a>       
                        </section>    
            
            <% } %>
            <% } %>

        <% } %>
    </section>
    <section class='container-fluid' style='background-color: #251F1F'>
            <section class='row justify-content-center'>
                    <section class='col-sm-4'>
                        <a href='/wikis'><p style='color: white; text-align: center'>More Stories </p></a>
                    </section>
                </section>
    </section>
    <% include ./partials/baseScripts.ejs %>
  </body>
</html>

