<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <% include ../static/partials/navbar.ejs %>
  <body>

    <main class="container">
      <% include ../static/partials/messages.ejs %>

     <section class='row'>
         <section class='col-md-6'>
                <h3><%= user.name %></h3>
         </section>
     </section>
     <section class='row'>
         <section class='col-md-3'>
             <h5>Account Tier: <%= user.role %></h5>
         </section>
         <section class='col-md-3'>
                <% if(user.role === 'premium') { %>
                    <div>
                            <button
                            class="btn btn-md"
                            data-toggle="modal"
                            data-target="#confirmDowngrade"
                        >
                        Downgrade
                        </button>
        
                            <div
                            class="modal fade"
                            id="confirmDowngrade"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="confirm downgrade"
                            aria-hidden="true"
                          >
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button
                                    type="button"
                                    class="close"
                                    data-dismiss="modal"
                                    aria-label="Close"
                                  >
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <p style='text-align: center'>Downgrading your account will make your private wikis public. Would you like to proceed?</p>
                                </div>
                                        <form style="display:initial" action="/users/<%= user.id %>/downgrade" method="post">
                                            <button style='text-align: center' type="submit" class="btn btn-sm">OK</button>
                                        </form>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <% } %>
                    <% if(user.role === 'standard') { %>
                        <div>
                            <button class="btn btn-md" data-toggle="modal" data-target="#upgrade">Upgrade</button>
                        </div>
                     

                        <div
      class="modal fade"
      id="upgrade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="upgradeAccount"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" id='payment-form' action="/users/:id/upgrade">
              <div class="form-group">
                    <label for="card-element">
                      Credit or debit card
                    </label>
                    <div id="card-element"></div>              
                    <div id="card-errors" role="alert"></div>
                  </div>          
              <br />
              <div id='shop'>
                    <input type="submit" value='Upgrade' class="btn btn-sm" id='buttonCheckout' />
              </div>
              <% include ./partials/premiumSignup.ejs %>
            </form>
          </div>
        </div>
      </div>
    </div>
                    <% } %>
                </div>
              </div>
         </section>
     </section>
      
      <hr>

           
      <div>
            <h5>Latest Wikis</h5>
            <ul class="list-unstyled">
              <% if(wikis) { %>
                <% wikis.forEach((wiki) => { %>
                  <li>
                    <a href="/wikis/<%= wiki.id %>">
                      <%= wiki.title %>
                    </a>
                  </li>
                <% }) %>
              <% } %>
            </ul>
      </div>
      <div>
          <h5>Collaborations</h5>
          <ul class="list-unstyled">
                <% if(collaborators) { %>
                  <% collaborators.forEach((collaborator) => { %>
                    <li>
                      <a href="/wikis/<%= collaborator.wikiId %>">
                        <%= collaborator.wikiName %>
                      </a>
                    </li>
                  <% }) %>
                <% } %>
              </ul>
      </div>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>